body {
    background-color: #242427;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-width: 393px;
    max-width: 420px;
    height: 100vh;
    min-height: 852px;
    position: relative;
    background-color: var(--body);
}