.button-container {
    background-color: var(--maincolor);
    width: 341px;
    height: 52px;
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);


    p {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        height: 100%;
        width: 100%;
    }
}