.letter-read-container {
        position: relative;

    .letter-open-icon {
        height: 325px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .letter-container {
        position: absolute;
        top: 158px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        .letter {
            width: 341px;
            height: 458.94px;
            background-color: rgb(255, 127, 113, 0.3);
            border-radius: 7px;
            
            .letter-content {
                min-height: calc(100% - 132px);
                overflow-y: auto;
                padding: 22px 27px 0 27px;
                color: #6A6A6E;
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .letter-bottom {
                padding: 20px;
                width: 100%;

                img {
                    width: 87.91px;
                }
            }
        }

        .letter-close {
            background-color: var(--maincolor);
            border-radius: 8px;
            width: 341px;
            margin-top: 26px;
            height: 52px;
            width: 341px;
            font-size: 18px;
            font-weight: bold;
            color: var(--white);
        }
    }
}