.letter-tree-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  
    .letter-header {
      font-size: 22px;
      font-weight: bold;
      color: #1f2427;
      margin-bottom: 20px;
    }
  
    .tree-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .tree-image {
        width: 330.16px; 
        height: 505px;
        align-items: center;
      }
  
      .envelope-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
  
            .envelop {
            position: absolute;
            width: 80.94px; 
            height: 55.25px;
            cursor: pointer;

                /* 봉투 위치 수정 */
                &.envelope-1 {
                    left: 35%; /* 트리 상단 왼쪽 */
                    top: 10%;
                    transform: translate(-50%, -50%);
                }
                &.envelope-2 {
                    left: 60%; /* 트리 상단 오른쪽 */
                    top: 25%;
                    transform: translate(-50%, -50%);
                }
                &.envelope-3 {
                    left: 35%; /* 트리 중단 왼쪽 */
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &.envelope-4 {
                    left: 65%; /* 트리 중단 오른쪽 */
                    top: 55%;
                    transform: translate(-50%, -50%);
                }
                &.envelope-5 {
                    left: 50%; /* 트리 하단 중앙 */
                    top: 80%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}