.urlfriend {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        font-family: 'Pretendard';
        font-size: 22px;
        font-weight: bold;
        margin-top: 55px;
    }
}